<div>
  <p>Hello, <%= @invitation.email %></p>
  <p>
    <%= @referred_by.email %> sent you an invitation to join.
    Please join with this <a href="http://localhost:3000/registration?referral_token=<%= @referred_by.referral_token %>">Referral URL</a>.
  </p>
</div>
